<h2 mat-dialog-title>{{ 'COMMON.CERTIFICATES' | translate }}</h2>

<ng-container *ngIf="data.certificates.length; else noCerts">
  <mat-card *ngFor="let cert of certificates" style="margin-bottom: 10px;">
    <p><strong>Type:</strong> {{ cert.type?.name }}</p>
    <p><strong>Issued:</strong> {{ cert.issueDate | date }}</p>
    <p><strong>Expires:</strong> {{ cert.expiryDate | date }}</p>
  </mat-card>
</ng-container>

<ng-template #noCerts>
  <p> {{PAGE.NO_CERTIFICATES | translate}} </p>
</ng-template>
