<div class="table-container">
  <table mat-table [dataSource]="crews" class="mat-elevation-z8">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.ACTIONS' | translate }} </th>
      <td mat-cell *matCellDef="let crew">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewCrew(crew)">
            <mat-icon>visibility</mat-icon>
            <span>{{ 'COMMON.VIEW' | translate }}</span>
          </button>
          <button mat-menu-item (click)="editCrew(crew)">
            <mat-icon>edit</mat-icon>
            <span>{{ 'COMMON.EDIT' | translate }}</span>
          </button>
          <button mat-menu-item (click)="deleteCrew(crew)">
            <mat-icon>delete</mat-icon>
            <span>{{ 'COMMON.DELETE' | translate }}</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> {{ 'CREW.FIRST_NAME' | translate }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.firstName }} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> {{ 'CREW.LAST_NAME' | translate }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.lastName }} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> {{ 'CREW.TITLE' | translate }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.title }} </td>
    </ng-container>

    <ng-container matColumnDef="daysOnBoard">
      <th mat-header-cell *matHeaderCellDef> {{ 'CREW.DAYS_ON_BOARD' | translate }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.daysOnBoard }} </td>
    </ng-container>

    <ng-container matColumnDef="dailyRate">
      <th mat-header-cell *matHeaderCellDef> {{ 'CREW.DAILY_RATE' | translate }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.dailyRate }} </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.CURRENCY' | translate }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.currency }} </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.DISCOUNT' | translate }} </th>
      <td mat-cell *matCellDef="let crew">
        <input type="number" [value]="crew.discount || 0" (input)="updateDiscount($event, crew)" style="width: 60px" />
      </td>
    </ng-container>

    <ng-container matColumnDef="totalIncome">
      <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.TOTAL_INCOME' | translate }} </th>
      <td mat-cell *matCellDef="let crew"> {{ getTotalIncome(crew) }} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="certificates">
      <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.CERTIFICATES' | translate }} </th>
      <td mat-cell *matCellDef="let crew">
        <button mat-button color="primary" (click)="openCertificatesModal(crew)">
          View
        </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>